.fav {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    position: relative;
    width: 200px;
    max-width: 48%;
    height: 160px;
    float: left;
    margin: 0 1% 10px;
    &--marked {
      img {
        opacity: .3;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      max-height: 125px;
      margin: auto;
      display: block;
    }
    .btn {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
