.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.field {
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 30px;
}

.error {
  font-size: 12px;
  color: red;
}

.btn {
  margin: auto;
  max-width: 100%;
  padding: 0 20px;
  height: 40px;
  -webkit-appearance: none;
  border: none;
  background: #046304;
  color: #fff;
  cursor: pointer;
  &:disabled {
    background: #ddd;
  }
  &--yellow {
    background: yellowgreen;
    color: #111;
  }
}

button {
  font-family: cursive;
  &.link {
    padding: 0;
    font-size: inherit;
    border: none;
    background: no-repeat;
    -webkit-appearance: none;
  }
}
