.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width:560px) {
      flex-direction: column;
      align-items: center;
    }
  }
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 10px;

      a {
        margin: 0 10px;
        text-decoration: none;
      }
  }
}