body {
  margin: 0;
  color: #000;
  font-family: cursive;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 1140px;
  max-width: 100%;
  padding: 0 10px;
  margin: auto;
  padding-bottom: 25px;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 0 auto 20px;
  @media (max-width:560px) {
    font-size: 32px;
  }
}

h2 {
  margin: 0 auto 20px;
  text-align: center;
  border-top: 1px solid;
}

section.main {
  display: flex;
  height: calc(100vh - 110px);
  background-image: $cat;
  background-size: auto 50%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

a, a:hover {
  color: inherit
}

.centered {
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.loading {
  text-align: center;
}

.notification {
  position: fixed;
  bottom: 0;
  padding: 5px;
  background: orange;
  width: 145px;
  left: calc(100% - 145px);
  text-align: center;
  font-size: 12px;
  border-radius: 50px 50px 0 0;
  color: #fff;
  transition: .5s;
  transform: translateY(101%);
  &--show {
    transform: translateY(0);
  }
}
